@import url('https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');


*{
	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

*{
	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

html {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

body{
	display: none;
	background: none;
}

.image-holder img {
	position: absolute;
	max-width:15%;
	max-height:15%;
	top: 32%;
	left: 49%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;	
}



.deathscreenheader {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);		
	font-size: 100px;
	color: #ffffff;
}

#leben {
	position: absolute;
	transform: scale(45%);
	top: 23vw;
	left: 30vw;
}

.deathscreentime {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);		
	font-size: 60px;
	color: #ffffff;
	text-shadow: 0.2vw 0.2vw black;
}

h4{
	text-align:center;
	margin-top: 20px;
	margin-bottom: 0;
}

button:focus,
input:focus {
  outline:0;
}

.full-screen {
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  background: url("img/effect.png");
  background-size: 100% 100%;
}

.death-container {
	width: 100%;
	height: 100%;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

* {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
