/* MADE BY SLIZZARN - DISCORD: slizzarn#1144 GITHUB: https://github.com/slizzarn-fivem */

@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed');

@font-face {
  font-family: 'PEL';
  src: url('fonts/Poppins-ExtraLight.ttf') format('truetype');
}

#controls {
	font-family: 'Poppins', sans-serif;
	font-size: 3em;
	color: #0329fd;
  position: absolute;
	bottom: 40;
	right: 40;
}

.controls {
	display: none;
}

.dialog {
  border-top: 5px solid #0329fd;

  transition: 300ms;
  height: 285px; /* Höhe der div-Box */
  width: 465px; /* Breite der div-Box */
  margin-top: -180px; /* Damit der "Ausrichtungspunkt" in der Mitte der Box liegt */
  margin-left: -255px;
  position: absolute; /* positionieren */
  top: 50%; /* in die Mitte verschieben */
  left: 50%;
  background-color: #222;
  border-radius: 5px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.head {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #4100da;
}

.dialog.big {
	height: 200px;
}

.dialog .head {
	background-color: #27272d;
	text-align: center;
	height: 40px;
}

.dialog .head span::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dialog input[type="text"] {
  background: transparent;
  border: none;

  border-bottom: solid 2px #424242;
  padding: 10px 2px 5px;
  color: #fff;
  padding-left: 5px;
  transition: padding 0.4s;
  width: 85%;
  margin-left: 35px;
  font-weight: bold;
  outline: none;
  font-size: 19px;
  margin-top: 30px;
  font-weight: 500;
}

.dialog input[type="text"]:focus {
  border-bottom: solid 2px #fff;

  transition: 200ms;
}






.dialog textarea {
	width: 100%;
	height: 128px;
}

.dialog button[name="submit"] {
  top: 25px;
  margin-left: 35px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  width: 85%;
  height: 36px;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  color: #0329fd;
  background-color: #111;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.4), 0 4px 5px 0 rgba(0, 0, 0, 0.34), 0 1px 10px 0 rgba(0, 0, 0, 0.32);
}


.dialog button[name="cancel"] {
  top: -12px;
  margin-left: 35px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 48px;
  border: none;
  border-radius: 4px;
  width: 85%;
  height: 36px;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  color: #0329fd;
  background-color: #111;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.4), 0 4px 5px 0 rgba(0, 0, 0, 0.34), 0 1px 10px 0 rgba(0, 0, 0, 0.32);}

p.desc {
  color: #0329fd;
  text-align: center;
  font-family: Arial;
  margin-top: 20px;
  font-size: 20px;
  background: #111;
  border-radius: 6px;
  height: 40px;
  margin-left: 35px;
  line-height: 40px;
  width: 200px;
    letter-spacing: 1px;
  font-weight: bold;
}


p.title {
  color: #fff;
  text-align: center;
  font-family: PEL;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.dialog button[name="cancel"]:focus {
  outline: none;
}

.dialog button[name="submit"]:focus{
  outline: none;
}

.dialog button[name="cancel"]:hover {
  transition: 300ms;
  color:#fff;
  background-color: darkred;
}

.dialog button[name="submit"]:hover {
  transition: 300ms;
  color:#fff;
  background-color: #07c721;
}

.head::before,
.head::after {
	content: "";
	flex-grow: 1;
	background: #00e1ff;
	height: 2px;
	margin: 0px 3px;
}

/* MADE BY SLIZZARN - DISCORD: slizzarn#1144 GITHUB: https://github.com/slizzarn-fivem */