#gunimg:hover {  transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#gunimg {
  opacity: 1;
  background: #171717e8 url(src/gunMENU.jpg) no-repeat center center;
  transition: all .2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
}
#explosiveimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#explosiveimg {
  opacity: 1;
  background: #171717e8 url(src/explosiveMENU.jpg) no-repeat center center;
  transition: all .2s ease-in-out;
  cursor: pointer;

}
#attachmentimg:hover {  transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#attachmentimg {
  opacity: 1;
  background: #171717e8 url(src/attachmentMENU.jpg) no-repeat center center;
  transition: all .2s ease-in-out;
  cursor: pointer;

}
#meleeimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#meleeimg {
  opacity: 1;
  background: #171717e8 url(src/meleeMENU.jpg) no-repeat center center;  
  transition: all .2s ease-in-out;
  cursor: pointer;

}
#armorimg:hover {   transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#armorimg {
  opacity: 1;
  background: #171717e8 url(src/armorMENU.jpg) no-repeat center center;
  transition: all .2s ease-in-out;

}
#ammoimg:hover {   transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#ammoimg {
  opacity: 1;
  background: #171717e8 url(src/ammoMENU.jpg) no-repeat center center;
  transition: all .2s ease-in-out;
  cursor: pointer;


}


#gradient {

  width: 100%;
  height: 100%;
  background: rgb(33,22,41);
  background: linear-gradient(90deg, rgba(33,22,41,0.8071603641456583) 0%, rgba(68,32,98,0.3477766106442577) 100%);
}



#superlight {
  opacity: 1;
  background: url(src/Armor/superlight.png)  no-repeat center center,  linear-gradient(90deg, rgba(64,44,69,0.9612219887955182) 0%, rgba(201,56,222,0.4458158263305322) 100%);
}

#light {
  opacity: 1;
  background: url(src/Armor/light.png)  no-repeat center center,  linear-gradient(90deg, rgba(9, 148, 208, 0.961) 0%,rgba(70, 56, 222, 0.446) 100%);
}
#standard {
  opacity: 1;
  background: url(src/Armor/standard.png)  no-repeat center center,  linear-gradient(90deg, rgba(9, 148, 208, 0.961) 0%,rgba(70, 56, 222, 0.446) 100%);
}
#heavy {
  opacity: 1;
  background: url(src/Armor/heavy.png)  no-repeat center center,  linear-gradient(90deg, rgba(64,44,69,0.9612219887955182) 0%, rgba(201,56,222,0.4458158263305322) 100%);
}
#superheavy {
  opacity: 1;
  background: url(src/Armor/superheavy.png)  no-repeat center center,  linear-gradient(90deg, rgba(9, 148, 208, 0.961) 0%,rgba(70, 56, 222, 0.446) 100%);
}



#mainGradient {
  position: absolute;
  top: -2px;
  left: 0;
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(255,255,255);
background: linear-gradient(93deg, rgba(255,255,255,0.407738095238095) 0%, rgba(255,255,255,0) 51%);

}

#mainGradient2 {
  position: absolute;
  right: 0;
  top: -2px;
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(-93deg, rgba(255, 255, 255, 0.408) 0%, rgba(255, 255, 255, 0) 51%);

}


#handgunimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#handgunimg {

  background: url(src/pistol.png)  no-repeat center center, linear-gradient(90deg, rgba(3, 230, 255, 0.961) 0%, rgba(3, 116, 255,0.4458158263305322) 100%);
  cursor: pointer;

  width: 286px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 70px;
  transition: all .2s ease-in-out;
  
}
#rifleimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);
}
#rifleimg {
  background: url(src/rifle.png)  no-repeat center center, linear-gradient(90deg, rgba(64,44,69,0.9612219887955182) 0%, rgba(201,56,222,0.4458158263305322) 100%);
  width: 286px;
  height: 180px;
  position: absolute;
  left: 296px;
  top: 70px;
  transition: all .2s ease-in-out;
}
#sniperimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#sniperimg {
  background: url(src/sniper.png)  no-repeat center center, linear-gradient(90deg, rgba(64,44,69,0.9612219887955182) 0%, rgba(201,56,222,0.4458158263305322) 100%);

  width: 286px;
  height: 180px;
  position: absolute;
  left: 592px;
  top: 70px;
  transition: all .2s ease-in-out;
}
#smgimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#smgimg {
  background: url(src/smg.png)  no-repeat center center, linear-gradient(90deg, rgba(64,44,69,0.9612219887955182) 0%, rgba(201,56,222,0.4458158263305322) 100%);

  width: 286px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 260px;
  transition: all .2s ease-in-out;
}
#lmgimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#lmgimg {
  background: url(src/mg.png)  no-repeat center center, linear-gradient(90deg, rgba(64,44,69,0.9612219887955182) 0%, rgba(201,56,222,0.4458158263305322) 100%);
 
  width: 286px;
  height: 180px;
  position: absolute;
  left: 296px;
  top: 260px;
  transition: all .2s ease-in-out;
}
#shotgunimg:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#shotgunimg {
  background: url(src/shotgun.png)  no-repeat center center, linear-gradient(90deg, rgba(64,44,69,0.9612219887955182) 0%, rgba(201,56,222,0.4458158263305322) 100%);  
  width: 286px;
  height: 180px;
  position: absolute;
  left: 592px;
  top: 260px;
  transition: all .2s ease-in-out;
}







#weap:hover { transform: scale(1.03); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
#weap {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 400px;
  height: 140px;
  position: relative;
  transition: all .2s ease-in-out;


  display: block;
  overflow: hidden;
}
#weap::before,
#weap::after {
content: '';
position: absolute;
top: 0px;
left: -150%;
width: 150%;
height: 100%;
background-color: #fff;
transform: rotate(45deg);
opacity: 0.6;
transition: all ease 1s;
}
#weap::after {
  transition-delay: 0.2s;
} 
#weap:hover::before,
#weap:hover:after{
  left: 150%;
} 





#page::-webkit-scrollbar{
  display: none;
}

#page {
  width: 856px;
  height: 370px;
  overflow:auto;
  padding-left: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 410px 430px;
  grid-auto-rows: 148px;
  position: absolute;
  left: -20px;
  top: 65px;
}
#label {
  color: rgba(255, 255, 255, 1);
  width: 350px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 105px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}




#Main {

  position:absolute;
  left: 600px;
	top: 210px;
  transform: skew(-6deg);
  animation: fadeIn 0.8s;
  -webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px) skew(-6deg);
            transform: translateX(-100px) skew(-6deg);
  }
  100% {
    -webkit-transform: translateX(0) skew(-6deg);
            transform: translateX(0) skew(-6deg);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px) skew(-6deg);
            transform: translateX(-100px) skew(-6deg);
  }
  100% {
    -webkit-transform: translateX(0) skew(-6deg);
            transform: translateX(0) skew(-6deg);
  }
}

.e5_51:hover { transform: scale(1.1); box-shadow: 0 5px 15px rgba(173, 11, 11, 0.733);
  background-color: rgba(255, 0, 0, 1);
 }
.e5_51 {
  background-color: rgba(0, 0, 0, 0.438);
  width: 133px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 460px;
  transition: all .2s ease-in-out;
  display: block;
  overflow: hidden;
}

.e5_51::before,
.e5_51::after {
content: '';
position: absolute;
top: 0px;
left: 150%;
width: 100%;
height: 100%;
background-color: #fff;
transform: rotate(45deg);
opacity: 0.6;
transition: all ease 1s;

}
.e5_51::after {
transition-delay: 0.2s;
} 
.e5_51:hover::before,
.e5_51:hover:after{
left: -100%;
} 

.e55_324 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 8px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.e7_151:hover { transform: scale(1.05); box-shadow: 0 5px 15px rgba(212, 195, 38, 0.712);
  background-color: rgb(233, 196, 12)
}
.e7_151 {
  background-color: rgba(0, 0, 0, 0.438);
  width: 414px;
  height: 44px;
  position: absolute;
  left: 148px;
  top: 460px;
  transition: all .2s ease-in-out;
  display: block;
  overflow: hidden;
}
.e7_151::before,
.e7_151::after {
content: '';
position: absolute;
top: 0px;
left: -150%;
width: 100%;
height: 100%;
background-color: #fff;
transform: rotate(45deg);
opacity: 0.6;
transition: all ease 1s;
}
.e7_151::after {
transition-delay: 0.2s;
} 
.e7_151:hover::before,
.e7_151:hover:after{
left: 100%;
} 
.e55_325 {
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 8px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
#arrow {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 380px;
  top: 5px;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}




.e5_52:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e5_52 {
  width: 286px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 70px;
  transition: all .2s ease-in-out;
  
}


.e55_318 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 145px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}



.e5_55:hover { transform: scale(1.05); box-shadow: 0 5px 15px rgba(38, 195, 212, 0.637);}
.e5_55 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 218px;
  height: 180px;
  position: absolute;
  left: 299px;
  top: 70px;
  transition: all .2s ease-in-out;
}
.e55_323 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 145px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}
.e7_148:hover { transform: scale(1.05); box-shadow: 0 5px 15px rgba(38, 195, 212, 0.637);}
.e7_148 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 286px;
  height: 180px;
  position: absolute;
  left: 530px;
  top: 70px;
  transition: all .2s ease-in-out;
}
.e55_322 {
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 145px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}
.e5_53:hover { transform: scale(1.05); box-shadow: 0 5px 15px rgba(38, 195, 212, 0.637);}
.e5_53 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 319px;
  height: 180px;
  position: absolute;
  left: 245px;
  top: 265px;
  transition: all .2s ease-in-out;
}
.e55_320 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 145px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}
.e5_56:hover { transform: scale(1.05); box-shadow: 0 5px 15px rgba(38, 195, 212, 0.637);}
.e5_56 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 229px;
  height: 180px;
  position: absolute;
  left: 0px;
  top: 265px;
  transition: all .2s ease-in-out;
}
.e55_321 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 145px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}
.e5_57:hover { transform: scale(1.05); box-shadow: 0 5px 15px rgba(38, 195, 212, 0.637);}
.e5_57 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 235px;
  height: 180px;
  position: absolute;
  left: 580px;
  top: 265px;
  transition: all .2s ease-in-out;
}
.e55_319 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 145px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}


.e7_168 {
  color: white;
  width: 480px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}

@keyframes reveal {
  50% {  letter-spacing: 8px;  }

  100% { background-size: 300% 300%; }
}
  
@keyframes glow {
  100% { text-shadow: 0 0 5px #fff; }
}
  



  






#Guns {

position: absolute;
left: 600px;
top: 210px;
transform: skew(-4deg);
animation: fadeIn 0.8s;
-webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.e4_291::-webkit-scrollbar{
  display: none;
}



.e4_291 {
  width: 856px;
  height: 380px;
  overflow:auto;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 410px 420px;
  grid-auto-rows: 115px;
  position: absolute;
  left: -20px;
  top: 65px;
}


.e14_295:hover { transform: scale(1.03); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e14_295 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 400px;
  height: 110px;
  position: relative;
  transition: all .2s ease-in-out;

  display: block;
  overflow: hidden;
}
.e14_295::before,
.e14_295::after {
content: '';
position: absolute;
top: 0px;
left: -150%;
width: 100%;
height: 100%;
background-color: #fff;
transform: rotate(45deg);
opacity: 0.6;
transition: all ease 1s;

}
.e14_295::after {
transition-delay: 0.2s;
} 
.e14_295:hover::before,
.e14_295:hover:after{
left: 100%;
} 




.e14_303 {
  color: rgba(255, 255, 255, 1);
  width: 380px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 77px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}
.e57_7 {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 150px;
  height: 30px;
  position: absolute;
  left: 240px;
  top: 3px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 3px #208607;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 5px #349b27;
  }
}


.e14_298 {
  color: rgba(255, 255, 255, 1);
  width: 600px;
  height: 30px;
  position: absolute;
  left: 3px;
  top: 0px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}











#Ammo {

position: absolute;
left: 600px;
top: 210px;
transform: skew(-6deg);
animation: fadeIn 0.8s;
-webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.e7_227::-webkit-scrollbar{
  display: none;
}
.e7_227 {
  overflow:auto;
  padding-left: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 225px 225px 0px;
  grid-auto-rows: 187px;
  width: 700px;
  height: 375px;
  position: absolute;
  left: -20px;
  top: 55px;
}


.e12_231:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e12_231 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 218px;
  height: 180px;
  position: relative;
  transition: all .2s ease-in-out;
}
.e12_236 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: 30px;
  position: absolute;
  left: 87px;
  top: 150px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}
.e12_241 {
  color: rgba(255, 255, 255, 1);
  width: 31px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 5px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}


.e12_240 {
  color: rgba(255, 255, 255, 1);
  width: 480px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 0px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;

  text-shadow: 3px 2px 8px #1E1E1E;
}

#price {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 100px;
  height: 30px;
  position: absolute;
  left: 110px;
  top: 3px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 3px #208607;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 5px #349b27;
  }
}










.e12_228:hover { transform: scale(1.1); box-shadow: 0 5px 15px rgba(173, 11, 11, 0.733);
  background-color: rgba(255, 0, 0, 1);
 }
.e12_228 {
  background-color: rgba(0, 0, 0, 0.438);
  width: 217px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 455px;
  transition: all .2s ease-in-out;
  display: block;
  overflow: hidden;
}

.e12_228::before,
.e12_228::after {
content: '';
position: absolute;
top: 0px;
left: 150%;
width: 100%;
height: 100%;
background-color: #fff;
transform: rotate(45deg);
opacity: 0.6;
transition: all ease 1s;

}
.e12_228::after {
transition-delay: 0.2s;
} 
.e12_228:hover::before,
.e12_228:hover:after{
left: -100%;
} 

.e12_229 {
  color: rgba(255, 255, 255, 1);
  width: 162px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 6px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
}
#arrowleft {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 10px;
  top: 3px;
  text-align: left;
  cursor: pointer;
  font-size: 34px;
  letter-spacing: 0;
}








#armor {

position: absolute;
left: 600px;
top: 210px;
transform: skew(-6deg);
animation: fadeIn 0.8s;
-webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.e12_271 {
  overflow: hidden;
  width: 900px;
  height: 450px;
  position: absolute;
  left: -6px;
  top: 5px;
}


.e12_276:hover { transform: scale(1.03); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e12_276 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 445px;
  height: 180px;
  position: absolute;
  left: 6px;
  top: 65px;
  transition: all .2s ease-in-out;
}
.e12_280 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 240px;
  top: 150px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}
.e12_286 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 3px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.e67_27 {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 340px;
  top: 3px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
}


.e12_277:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e12_277 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 218px;
  height: 180px;
  position: absolute;
  left: 6px;
  top: 65px;
  transition: all .2s ease-in-out;
}
.e12_282 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 11px;
  top: 150px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}
.e12_290 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 3px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.e68_31 {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 112px;
  top: 3px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
}


.e12_279:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e12_279 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 218px;
  height: 180px;
  position: absolute;
  left: 280px;
  top: 65px;
  transition: all .2s ease-in-out;
}
.e12_283 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 11px;
  top: 150px;
  cursor: pointer;
  font-family: Chivo;
  text-align: right;
  font-size: 21px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}
.e12_287 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 10x;
  top: 3px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.e68_32 {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 137px;
  top: 3px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
}


.e12_275:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e12_275 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 218px;
  height: 180px;
  position: absolute;
  left: 233px;
  top: 252px;
  transition: all .2s ease-in-out;
}
.e12_284 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 11px;
  top: 150px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}
.e12_288 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 3px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.e68_33 {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 137px;
  top: 3px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
}


.e12_278:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);}
.e12_278 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 218px;
  height: 180px;
  position: absolute;
  left: 560px;
  top: 65px;
  transition: all .2s ease-in-out;
}
.e12_281 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 11px;
  top: 150px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 21px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}
.e12_289 {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 3px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.e68_30 {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 137px;
  top: 3px;
  font-family: Chivo;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
}


.e12_285 {
  color: rgba(255, 255, 255, 1);
  width: 480px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 0px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;
}







#explosives {

  position: absolute;
  left: 600px;
	top: 210px;
  transform: skew(-6deg);
  animation: fadeIn 0.8s;
  -webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  }
  
  .e66_17 {
  color: rgba(255, 255, 255, 1);
  width: 400px;
  height: 76px;
  position: absolute;
  left: 3px;
  top: 0px;
  cursor: pointer;
  font-family: Chivo;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
}


#attachment {

position: absolute;
left: 600px;
top: 210px;
transform: skew(-6deg); 
animation: fadeIn 0.5s;
-webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#amount {
color: rgba(255, 255, 255, 1);
width: 200px;
height: 30px;
position: absolute;
left: 187px;
top: 3px;
font-family: Chivo;
cursor: pointer;
text-align: right;
font-size: 12px;
letter-spacing: 0;
text-transform: uppercase;
}

.e14_465 {
  color: rgba(255, 255, 255, 1);
  width: 400px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 50px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

#wname {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 30px;
  position: absolute;
  left: 50px;
  top: 50px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

.e14_438 {
  color: rgba(255, 255, 255, 1);
  width: 480px;
  height: 76px;
  position: absolute;
  left: 3px;
  top: 0px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
}





#melee {

position: absolute;
left: 600px;
top: 210px;
transform: skew(-6deg);
animation: fadeIn 0.8s;
-webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.e14_455 { 
	color:rgba(255, 255, 255, 1);
	width:480px;
	height:76px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Chivo;
  cursor: pointer;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}


#licensepage {

  position:absolute;
  left: 500px;
	top: 270px;
  transform: skew(-6deg);
  animation: fadeIn 0.8s;
  -webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}





#licenses {
  overflow: auto;
  position:absolute;
  left: -20px;
  top: 70px;
  width: 1100px;
  height: 220px;
  padding-left: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-auto-rows: 187px;

}

#pistollicense:hover { transform: scale(1.05); box-shadow: 0px 5px 15px rgba(38, 195, 212, 0.637);

}
#pistollicense {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  position: relative;
  height: 180px;
  width: 250px;
  transition: all .2s ease-in-out;

}


#licenselabel {
  color: rgba(255, 255, 255, 1);
  width: 300px;
  height: 30px;
  position: absolute;
  left: 11px;
  top: 150px;
  font-family: Chivo;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  text-shadow: 3px 2px 8px #1E1E1E;

}

#licenseprice {
  color: rgba(94.8837661743164, 255, 0, 1);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 140px;
  top: 2px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0;
}

#return:hover { transform: scale(1.1); box-shadow: 0 5px 15px rgba(173, 11, 11, 0.733); 
  background-color: rgba(255, 0, 0, 1);
}
#return {
  background-color: rgba(0, 0, 0, 0.438);
  width: 217px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 350px;
  transition: all .2s ease-in-out;
  display: block;
  overflow: hidden;
}

#return::before,
#return::after {
content: '';
position: absolute;
top: 0px;
left: 150%;
width: 100%;
height: 100%;
background-color: #fff;
transform: rotate(45deg);
opacity: 0.6;
transition: all ease 1s;

}
#return::after {
transition-delay: 0.2s;
} 
#return:hover::before,
#return:hover:after{
left: -100%;
} 

