:root {
    --bg-color: #F4F4F4;
    --element-bg-color: #FFFFFF;

    --element-bg-color2: #FFFFFF;
    --element-bg-colorh: #fafafa;
    --font-color: #000000;
    
    --notification-bg: rgba(255, 255, 255, 0.8);

    --accent-color: #4A4CF6;
    --accent-colorh: #4042d8;
    --me-color: #badaff;
    --me-colorh: #a2bfe0;
    --new-color: #fffadd;
    --new-colorh: #f6eebd;

    --quote-color: #1a1a1a;
    --yellow-color: #efda3e;
    --yellow-colorh: #dbc839;
    --red-color: #bb3838;
    --red-colorh: #a43030;
    --green-color: #3ca84e;
    --green-colorh: #45ba59;

    --box-shadow: rgba(99, 99, 99, 0.2);

    --info: rgb(85, 113, 215);
    --error: rgb(218, 65, 65);
    --warning: rgb(255, 151, 40);
    --success: rgb(98, 160, 103);
    --radio: rgb(20, 58, 130);
    --broker: rgb(29, 29, 29);
    --groupchat: #e4da7c;

  }

  html[data-theme="white"]  {
    --bg-color: #F4F4F4;
    --element-bg-color: #FFFFFF;

    --element-bg-color2: #FFFFFF;
    --element-bg-colorh: #fafafa;
    --font-color: #000000;
    
    --notification-bg: rgba(255, 255, 255, 0.8);

    --accent-color: #4A4CF6;
    --accent-colorh: #4042d8;
    --me-color: #badaff;
    --me-colorh: #a2bfe0;
    --new-color: #fffadd;
    --new-colorh: #f6eebd;

    --quote-color: #1a1a1a;
    --yellow-color: #efda3e;
    --yellow-colorh: #dbc839;
    --red-color: #bb3838;
    --red-colorh: #a43030;
    --green-color: #3ca84e;
    --green-colorh: #45ba59;

    --box-shadow: rgba(99, 99, 99, 0.2);

    --info: rgb(85, 113, 215);
    --error: rgb(218, 65, 65);
    --warning: rgb(255, 151, 40);
    --success: rgb(98, 160, 103);
    --radio: rgb(20, 58, 130);
    --broker: rgb(29, 29, 29);
    --groupchat: #e4da7c;
  }

  html[data-theme="dark"]  {
    --bg-color: #000000;
    --element-bg-color: #191919;
    --element-bg-color2: #191919;
    --element-bg-colorh: #242424;
    --font-color: #F2F2F2;
    
    --notification-bg: rgba(0, 0, 0, 0.8);

    
    --accent-color: #9799f5;
    --accent-colorh: #9596e7;
    --me-color: #3f4576;
    --me-colorh: #445b79;
    --new-color: #dbcb6e;
    --new-colorh: #c0b160;

    --quote-color: #1a1a1a;
    --yellow-color: #ede07b;
    --yellow-colorh: #d9cd77;
    --red-color: #d75959;
    --red-colorh: #c15050;
    --green-color: #6add7d;
    --green-colorh: #5cbd6c;

    --box-shadow: rgba(0, 0, 0, 0.2);

    --info: rgb(174, 190, 246);
    --error: rgb(245, 120, 120);
    --warning: rgb(250, 178, 100);
    --success: rgb(131, 199, 163);
    --radio: rgb(114, 160, 245);
    --broker: rgb(236, 236, 236);
    --groupchat: #fff597;
  }

.phone-app-new {
    position: absolute;
    left: -100%;
    top: 0%;

    background-color: var(--bg-color);
    color: var(--font-color);

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 8% 80% 7%;
    grid-template-columns: 5% 90% 5%;

    padding: none;
    margin: none;

    overflow: hidden;
}

.centergrid {
    grid-column: 2;
}

.phone-app-headline-new {
    grid-row: 1;
    align-self: center;
    font-size: 3.5vh;
    /* font-family: 'PoppinsSemiBold'; */
    font-weight: 400;
    white-space: nowrap;
}

.phone-app-headline-new > svg{
    /* height: 3vh; */
}

.phone-app-content-new {
    grid-row: 2;
    align-self: top;
    overflow-y: auto;
    margin-right: 100%;    
}

.phone-app-content-new::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .phone-app-content-new {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.phone-app-footer-new {
    /* background-color: #FFFFFF; */
        /* box-shadow: var(--box-shadow) 0px 2px 8px 0px; */
    width: 100%;
    height: 100%;
    grid-row: 3;

    border-radius: 1vh;


    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25% ;

    align-items: center;
    text-align: center;
    font-size: 2vh;
    transition: 0.5s;

    overflow: hidden;
}

.phone-app-footer-new>i {
    transition: 0.5s;
}

.phone-app-footer-new>i:hover {
    color: var(--accent-colorh);
    transition: 0.5s;
}

.phone-app-footer-select {
    /* background-color: #FFFFFF; */
        /* box-shadow: var(--box-shadow) 0px 2px 8px 0px; */
    width: 100%;
    height: 0%;
    grid-row: 3;

    border-radius: 1vh;


    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25% ;

    align-items: center;
    text-align: center;
    font-size: 2vh;
    transition: 0.5s;

    overflow: hidden;
}

.phone-app-footer-select>i {
    transition: 0.5s;
}

.phone-app-footer-select>font {
    align-self: center;
    font-size: 1.7vh;
}

.phone-app-footer-select>i:hover {
    color: var(--accent-colorh);
    transition: 0.5s;
}

.input-selection-area {
    /* display: none!important; */
    position: absolute;
    left: 5%;
    bottom: -80%;
    width: 90%;
    height: auto;

    z-index: 9;


    display: grid;
    grid-template-rows: auto 6vh;
    grid-template-columns: 100% ;

    align-items: center;
    justify-items: center;

    font-size: 2vh;
}

.input-selection-area-element {
    width: 100%;
    border-radius: 1vh;
    background-color:  var(--element-bg-color2);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    color: var(--font-color);
    overflow: hidden;
 }

.input-selection-area-element > div {
   height: 6vh;
   line-height: 6vh;
   text-align: left;
   padding-left: 2vh;
   font-size: 2vh;
    width: 100%;
font-family: "Roboto";
   border-bottom:0.1vh solid var(--bg-color);
   /* background-color: #4042d8; */
}

.input-selection-area-element > div > i{
    margin-right: 0.5vh;
    color: var(--accent-color);
    font-size: 2vh;
 }

.input-selection-area-element > div:hover {
    background-color:  var(--element-bg-colorh);
    transition: 0.5s;
 }

.input-selection-area-cancel {
    height: 100%;
    width: 100%;
    line-height: 6vh;
    text-align: center;
    border-radius: 1vh;
    background-color:  var(--element-bg-color2);
    color: var(--accent-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    margin-top: 1vh;
}

.input-selection-area-cancel:hover {
    background-color:  var(--element-bg-colorh) ;
    border-radius: 1vh;
    transition: 0.5s;
}

.input-selection-area {
    /* display: none!important; */
    position: absolute;
    left: 5%;
    bottom: -50%;
    width: 90%;
    height: auto;

    z-index: 9;


    display: grid;
    grid-template-rows: auto 6vh;
    grid-template-columns: 100% ;
    grid-gap: 1vh;

    align-items: center;
    justify-items: center;

    font-size: 2vh;
}

.input-selection-area-element {
    width: 100%;
    border-radius: 1vh;
    background-color:  var(--element-bg-color2);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;

    overflow: hidden;
 }

.input-selection-area-element > div {
   height: 6vh;
   line-height: 6vh;
   text-align: left;
   padding-left: 2vh;
   font-size: 2vh;
    width: 100%;
   border-bottom:0.1vh solid var(--element-bg-color2);
   /* background-color: #4042d8; */
}

.phone-app-input-element {
    background-color: var(--element-bg-color);
    
    width: 100%;
    min-height: 5vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    
    border-radius: 1vh;

    padding: 1vh;
    font-size: 1.75vh;
    font-family: 'Roboto';
    align-items: center;

    outline: none;
    border: none;
    margin-bottom: 1vh;
    white-space: nowrap;
    overflow: hidden;
}

.biggerbutton {
    background-color: var(--element-bg-color);
    
    width: 100%;
    min-height: 6vh;
    line-height: 4vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    
    border-radius: 1vh;

    padding: 1vh;
    font-size: 1.75vh;
    font-family: 'Roboto';
    font-weight: 600;

    text-align: center;

    outline: none;
    border: none;
    margin-bottom: 1vh;
    white-space: nowrap;
    overflow: hidden;
}

.input-selection-area-element > div > i{
    margin-right: 0.5vh;
    color: var(--accent-color);
    font-size: 2vh;
 }

.input-selection-area-element > div:hover {
    background-color:  var(--element-bg-colorh);
    transition: 0.5s;
 }

.input-selection-area-cancel {
    height: 100%;
    width: 100%;
    line-height: 6vh;
    text-align: center;
    border-radius: 1vh;
    background-color:  var(--element-bg-color2);
    color: var(--accent-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

.input-selection-area-cancel:hover {
    background-color:  var(--element-bg-colorh) ;
    border-radius: 1vh;
    transition: 0.5s;
}

.censorlayer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color:  var(--element-bg-color) ;
    opacity: 0.9;
    z-index: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.input-url-area {
    display: none;
    position: absolute;
    left: 5%;
    bottom: -70%;
    width: 90%;
    height: auto;

    z-index: 10;

    display: grid;
    grid-template-rows: auto 6vh 6vh;
    grid-gap: 1vh;
    grid-template-columns: 100% ;

    align-items: center;
    justify-items: center;

    font-size: 2vh;
}

.input-url-area-headline {
    text-align: center;
    width: 100%;
    background-color:  var(--element-bg-colorh)!important ;
    border-bottom:0.1vh solid var(--bg-color);
    padding-right: 2vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.input-url-area-headline > div > i{
    /* margin-right: 0.5vh; */
    color: var(--accent-color);
    font-size: 1.2em;
 }

.input-url-area-headline:hover {
    background-color:  var(--element-bg-color) ;
}

.input-url-area > .input-selection-area-element > div > input {
    border: none;
    outline: none;
    background-color: var(--element-bg-color2);
    /* background-color: #000000; */
}


.input-url-area > .input-selection-area-element > div > input:hover {
    background-color:  var(--element-bg-colorh);
    transition: 0.5s;

}

.input-url-area > .input-selection-area-element > div > input:active {
    background-color:  var(--element-bg-colorh);
    transition: 0.5s;
}


input.apple-switch {
    position: relative;
    appearance: none; outline: none;
    width: 50px; height: 25px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
    transition: 0.2s;
    outline: none!important;

}

input.apple-switch:focus {
    /* border: none; */
    outline: none!important;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px; left: 1px;
    width: 21px; height: 21px;
    background-color: transparent;
    border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    transition: 0.2s;
    outline: none!important;

}

input.apple-switch:checked {
    border-color: #4ED164;
    box-shadow: inset 25px 0 0 0 #4ED164;
}

input.apple-switch:checked:after {
    left: 26px;
    /* box-shadow: -1px 2px 0px rgba(0,0,0,0.05); */
}

.red {
    background-color: var(--red-color);
    color: white;
}

.red:hover {
    background-color: var(--red-colorh);
    color: white;
    transition: 0.5s;
}

.green {
    background-color: var(--green-color);
    color: white;
}

.green:hover {
    background-color: var(--green-colorh);
    color: white;
    transition: 0.5s;
}


.redcolor {
    color: var(--red-color)!important;
}

.redcolor:hover {
    color: var(--red-colorh)!important;
    transition: 0.5s;
}

.greencolor {
    color: var(--green-color)!important;
}

.greencolor:hover {
    color: var(--green-colorh)!important;
    transition: 0.5s;
}

.phone-app-searchbarform-new{
    background-color: var(--element-bg-color);
    
    width: 100%;
    height: 5vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    
    border-radius: 1vh;

   

    margin-bottom: 1vh;
}

.phone-app-searchbarform-input-new {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    line-height: 5vh;
    border-radius: 1vh;

    padding-left: 1vh;
    padding-right: 1vh;
    background: var(--element-bg-color);
    color: var(--font-color);
    font-size: 1.75vh;
}

.phone-app-underheadline {
    font-family: 'Roboto';
    font-size: 2vh;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.phone-app-mediumheadline {
    font-family: 'RobotoMedium';
    font-size: 2vh;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}


.phone-app-bigheadline {
    font-family: 'RobotoMedium';
    font-size: 2.5vh;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.phone-app-smallheadline {
    font-family: 'RobotoMedium';
    font-size: 1.7vh;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.phone-app-icon-element {
    transition: 0.5s;
   
    height: 5vh;
    line-height: 5vh;

    font-size: 2vh;
    width: 100%;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    border-radius: 1vh;

    font-family: 'Roboto';
    font-weight: 400;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    align-items: center;

    margin-bottom: 1vh;

    white-space: nowrap;
    overflow: hidden;
}

.phone-app-icon-element:hover {
    transition: 0.5s;
    background-color: var(--element-bg-colorh);
}

.phone-app-icon-element > i {
    text-align: center;
    font-size: 1.1em;
    color: var(--accent-color);
}

.phone-app-content-new > h2 {
    font-size: 2.5vh;
}

.phone-app-element {
    transition: 0.5s;
   
    height: 5vh;
    line-height: 5vh;

    font-size: 2vh;
    width: 100%;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    border-radius: 1vh;

    font-family: 'Roboto';
    font-weight: 400;
    padding: 0vh 1vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;

    margin-bottom: 1vh;

    white-space: nowrap;
    overflow: hidden;
}

.phone-app-element:hover {
    transition: 0.5s;
    background-color: var(--element-bg-colorh);
}

.phone-app-element-flex {
    transition: 0.5s;
   
    min-height: 5vh;
    line-height: 3vh;

    font-size: 2vh;
    width: 100%;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    border-radius: 1vh;

    font-family: 'Roboto';
    font-weight: 400;
    padding: 1vh 1vh;

    align-items: center;

    margin-bottom: 1vh;

    overflow: hidden;
}

.phone-app-element-flex > .headline {
    line-height: 2vh;
    width: 100%;
    text-align: center;
    font-size: 2vh!important;
    height: 2vh!important;
    padding: 0vh!important;
    margin: 0!important;
    font-family: 'RobotoMedium';
}

.phone-app-element:hover {
    transition: 0.5s;
    background-color: var(--element-bg-colorh);
}


.margin-top-1 {
    margin-top: 1vh;
}

.margin-top-2 {
    margin-top: 2vh;
}

.margin-top-3 {
    margin-top: 3vh;
}

.margin-top-5 {
    margin-top: 5vh;
}

.margin-bottom-0n5 {
    margin-bottom: 0.5vh;
}

.margin-bottom-1 {
    margin-bottom: 1vh;
}

.margin-bottom-2 {
    margin-bottom: 2vh;
}

.margin-bottom-3 {
    margin-bottom: 3vh;
}

.margin-bottom-5 {
    margin-bottom: 5vh;
}



.text-align-center {
    text-align: center!important;
}

.text-align-right {
    text-align: right!important;
}

.font-size-1n5 {
    font-size: 1.5vh!important;
}

.font-size-2 {
    font-size: 2vh!important;
}

input.inputnew {
    background-color: var(--element-bg-color);
    width: 100%;
    height: 5vh;

    font-family: 'RobotoMedium'!important;
    font-size: 1.75vh!important;
    font-weight: 400;

    border: none;
    outline: none;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

button {
    background-color: var(--element-bg-color);
    width: 100%;
    height: 5vh;

    font-family: 'RobotoMedium'!important;
    font-size: 2.5vh!important;
    font-weight: 400;

    border: none;
    outline: none;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
}

.phone-app-splittext {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
}

.phone-app-checkbox-element {
    transition: 0.5s;
   
    height: 5vh;

    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 1.75vh;
    width: 100%;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    border-radius: 1vh;

    font-family: 'Roboto';
    font-weight: 400;

    display: grid;
    grid-template-columns: 85% 10% ;
    grid-column-gap: 5%;
    grid-template-rows: 100%;

    align-items: center;


    margin-bottom: 1vh;

    white-space: nowrap;
    overflow: hidden;
}


/* Hide the browser's default checkbox */
.checkbox-container {
    height: 100%;
    width: 100%;
  }
  

.checkbox-container input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    margin-top: 1.5vh;
    position: relative;
    height: 100%;
    width:100%;
    background-color: var(--accent-color);
    border-radius: 0.5vh;
    transition: 0.5s;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: var(--accent-colorh);
    transition: 0.5s;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: var(--accent-colorh);
    transition: 0.5s;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    transition: 0.5s;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
    transition: 0.5s;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.5s;
  }