.phone-bankapp {
    height: 100%;
    width: 100%;
    background: #f3f8ff;
    overflow: hidden;
    display: none;
    font-family: 'Roboto';
}

.darkphone-bankapp {
    background: rgb(20, 20, 20);
    color: white;
}

.phone-bankapp-header {
    position: relative;
    font-size: 2.5vh;
    top: 4%;
    width: 90%;
    height: 4vh;
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 4vh;
    margin: 5%;
}

.phone-bankapp-home {
    display: block;
    position: absolute;
    height: 73%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    top: 10vh;
    background-color: #f8f7f8;
}

.darkphone-bankapp-home {
    background: rgb(25, 25, 25)!important;
}

.bankapp-account-class {
    width: 100%;
    height: 30%;
    background: #f3f8ff;
}

.darkbankapp-account-class {
    background: rgb(22, 22, 22);
    color: white!important;
}

.bankapp-account {
    position: relative;
    width: 90%;
    height: 95%;
    left: 5%;
    top: 0%;
    border-radius: 1vh;
}

.bankapp-account-header {
    width: 90%;
    height: 5vh;
    margin-left: 5%;
    line-height: 5vh;
    font-size: 2vh;
    text-align: center;
    color: black;
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.2);
}

.darkbankapp-account-header {
    color: white;
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.2);
}

.bankapp-account-balance {
    width: 90%;
    height: 8vh;
    line-height: 8vh;
    font-size: 2vh;
    margin-left: 5%;
    text-align: center;
    color: rgb(18, 218, 18);
}

.phone-bankapp-cards {
    width: 100%;
    height: 50%;
}

.phone-bankapp-cards-headline {
    width: 90%;
    height: 4vh;
    line-height: 4vh;
    font-size: 2vh;
    margin-left: 5%;
}

.phone-bankapp-cards-card {
    position: relative;
    background: url(../img/card.png);
    background-size: cover;
    width: 26vh;
    height: 16vh;
    left: 5%;
    top: 0%;
    border-radius: 1vh;
    margin-bottom: 2vh;
}

.phone-card-number {
    position: relative;
    width: 95%;
    left: 2.5%;
    top: 27.5%;
    height: 5vh;
    line-height: 5vh;
    font-size: 2.25vh;
    text-align: center;
    color: rgb(245, 245, 245);
}

.phone-card-bottom {
    position: relative;
    top: 4vh;
    width: 100%;
    height: 8vh;
}

.phone-card-holder {
    float: left;
    width: 60%;
    padding-left: 1.5vh;
    line-height: 3vh;
    font-size: 1.6vh;
    color: rgb(46, 46, 46);
}

.phone-card-date {
    float: left;
    width: 40%;
    line-height: 3vh;
    font-size: 1.6vh;
    text-align: right;
    padding-right: 1.5vh;
    color: rgb(46, 46, 46);
}

.phone-card-holdername {
    opacity: 0.9;
}

.phone-bankapp-transactions {
    position: relative;
    width: 100%;
    height: auto;
}

.phone-bankapp-transaction {
    position: relative;
    width: 100%;
    padding: 1.5vh;
    height: 8vh;
}

.phone-bankapp-transaction-header {
    height: 3vh;
    width: 100%;
    line-height: 3vh;
    font-size: 1.75vh;
}

.phone-bankapp-transaction-header-name {
    float: left;
    width: 60%;
}

.phone-bankapp-transaction-header-amount {
    float: right;
    width: 40%;
    right: 0vh;
    text-align: right;
}

.minus {
    color: rgb(255, 51, 0);
}

.plus {
    color: rgb(46, 224, 10);
}

.phone-bankapp-transaction-bottom {
    height: 3vh;
    width: 100%;
    line-height: 3vh;
    font-size: 1.5vh;
    color: rgb(73, 73, 73);
}

.phone-bankapp-transaction-bottom {
    color: rgb(184, 184, 184);
}

.phone-bankapp-footer {
    position: absolute;
    top: 89%;
    width: 100%;
    height: 7.5%;
    color: rgb(29, 29, 29);
}

.darkphone-bankapp-footer {
    color: white!important;
}

.phone-bankapp-footer-icon {
    float: left;
    height: 5vh;
    width: 50%;
}

.phone-bankapp-footer-icons {
    margin-top: 1.25vh;
    width: 100%;
    text-align: center;
    font-size: 2.25vh;
}

.phone-bankapp-footer-icons:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.activeposition {
    color: var(--accent-color)!important;
}

.bankapp-welcome {
    width: 100%;
    text-align: center;
    height: 10vh;
    padding: 1vh;
    background-color: aquamarine;
    font-size: 2vh;
}

.phone-bankapp-transfer {
    display: none;
    position: absolute;
    height: 73%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    top: 10vh;
    background-color: #f8f7f8;
}

.bankapp-transfer-home {
    width: 100%;
    position: relative;
    height: 31vh;
}

.bankapp-transfer-headline {
    width: 100%;
    position: relative;
    height: 5vh;
    line-height: 5vh;
    font-size: 2vh;
    text-align: center;
}

.bankapp-transfer-smallheadline {
    width: 100%;
    position: relative;
    height: 4vh;
    line-height: 4vh;
    font-size: 2vh;
    text-align: center;
}

.bankapp-transfer-input {
    outline: none;
    border: none;
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    font-size: 2vh;
    padding-left: 2vh;
    background: none!important;
}

.bankapp-transfer-button {
    position: relative;
    outline: none;
    border: none;
    margin-top: 2.5vh;
    left: 20%;
    width: 60%;
    height: 6vh;
    line-height: 6vh;
    font-size: 2vh;
    background-color: var(--accent-color);
    color: white;
    border-radius: 1vh;
}

.bankapp-transfer-button:hover {
    background-color: rgb(24, 116, 190);
    transition: 0.5s;
}