.phone-app {
    position: absolute;
    top: 0vh;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--font-color)!important;
    font-family: 'Roboto';
    display: none;
    margin-left: -30vh;
    z-index: 1;
}

.darkphone-app {
    background: rgb(10, 10, 10);
    color: white!important;
}

#phone-app-contact {
    display: none;
    margin-left: 0vh;
}

.pciinputdiv {
    width: 100%;
    height: 15%;
    margin-top: 2.5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0)!important;
    font-family: 'RobotoMedium';
    font-weight: 500;
}

.pciinput {
    height: 60%!important;
    width: 100%!important;
    margin-top: 0.5vh!important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3)!important;
    background: rgba(0, 0, 0, 0)!important;
    font-size: 1.8vh!important;
    text-align: left!important;
    font-family: 'RobotoMedium';
    font-weight: 500;
    outline: none;
    border: none;
}

.darkpciinput {
    border-bottom: 2px solid rgba(200, 200, 200, 0.3)!important;
    background: rgba(25, 25, 25, 0.0)!important;
    color: white!important;
}
/* Header */
.phone-app-header {
    /* position: relative; */
    font-size: 2.5vh;
    margin-top: 4.5vh;
    width: 90%;
    height: 4vh;
    text-align: left;
    line-height: 3vh;
    margin-left: 5%;
    font-family: 'Roboto';
    /* background-color: rgb(199, 10, 10); */

}

.phone-app-header h2 {
    font-family: 'Roboto';
    font-weight: 500;
    display: inline;
}

.phone-app-header-left {
    position: absolute;
    top: 2.5vh;
    left: 1.5vh;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.75vh;
    color: var(--accent-color);
    line-height: 7vh;
}

.phone-app-header-left:hover {
    color: #292949!important;
    transition: 0.5s;
}

.phone-app-header-right {
    position: absolute;
    top: 2.75vh;
    right: 1.5vh;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.75vh;
    color:  var(--accent-color);
    line-height: 7vh;
}

.phone-app-header-right:hover {
    color:  var( --accent-colorh)!important;
    transition: 0.5s;
}

/* Content */
.phone-app-content {
    position: relative;
    top: -1vh;
    height: auto;
    max-height: 82%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 101%;
    /* background-color: cadetblue; */
}

.phone-app-content::-webkit-scrollbar {
    width: 0vh!important;
}

.phone-app-content::-webkit-scrollbar-thumb {
    background-color: #686de0;
}

.phone-app-content::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

.phone-app-content-10vh {
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    font-family: 'Roboto';
    font-size: 2.5vh;
    font-weight: 500;
    overflow: hidden;
    /* background-color: chartreuse; */
}

/* Boxes */
.phone-app-fontbox {
    height: 4vh;
    width: 90%;
    margin-left: 5%;

    font-family: 'RobotoMedium';
    border-radius: 1vh;
    font-weight: 500;
    line-height: 4vh;
    font-size: 2vh;
}

.phone-app-box {
    height: 5vh;
    width: 90%;
    margin-left: 5%;

    background: var(--element-bg-color);
    box-shadow: rgba(99, 99, 99, 0.098) 0px 2px 8px 0px;

    font-family: 'Roboto';
    padding-left: 1vh;
    border-radius: 1vh;
    line-height: 5vh;
    font-weight: 500;
    font-size: 2vh;
    margin-bottom: 1vh;
    border: none;
    outline: none;
}

.phone-app-box:hover {
    background: var(--element-bg-colorh);
    transition: 0.5s;
}

.darkphone-app-box {
    background: #202020;
}

.darkphone-app-box:hover {
    background: #1a1919!important;
    transition: 0.5s;
}

.phone-app-box:hover {
    background: var(--element-bg-colorh);
    transition: 0.5s;
}


.phone-app-button-box {
    height: 6vh;
    width: 90%;
    margin-left: 5%;

    background: var(--element-bg-color);

    font-family: 'RobotoMedium';
    padding-left: 1vh;
    border-radius: 1vh;
    line-height: 6vh;
    font-weight: 500;
    font-size: 2vh;
    margin-bottom: 1vh;
    border: none;
    outline: none;
}

.phone-app-button-box:hover {
    background: var(--element-bg-colorh);
    transition: 0.5s;
}



.phone-app-3box-div {
    width: 100%;
    height: 6vh;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: cyan; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    gap: 5%;
}

.phone-app-3box {
    width: 100%;
    height: 100%;

    border-radius: 1vh;
    background: var(--element-bg-color);
    box-shadow: rgba(99, 99, 99, 0.098) 0px 2px 8px 0px;

    line-height: 6vh;
    text-align: center;
    font-size: 2vh;
}

.phone-app-3box:hover {
    background: var(--element-bg-colorh);
    transition: 0.5s;
}

.darkphone-app-3box {
    background: #202020;
}

.darkphone-app-3box:hover {
    background: #1a1919;
    transition: 0.5s;
}

.phone-app-3box>i {
    line-height: 6vh;
    text-align: center;
    font-size: 2.5vh;
}

.phone-app-header-searchbarform{
    position: relative;
    height: 5vh;
}

.phone-app-header-searchbar {
    border: none;
    outline: none;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    color: var(--font-color);
    border-radius: 1vh;
    width: 90%;
    height: 4vh;
    line-height: 4vh;
    margin-left: 5%;
    margin-top: 0.5vh;
    padding-left: 1vh;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.75vh;
}

.darkphone-app-header-searchbar {
    background-color: #202020;
}

#notAvailable {
    border-radius: 1vh;
    width: 90%;
    height: 6vh;
    line-height: 3vh;
    margin-left: 5%;
    padding-left: 1vh;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.75vh;
    display: none;
}

.phone-app-div {
    position: relative;
    width: 26vh;
    margin-left: 1.5vh;
    border-radius: 1vh;
    height: 6vh;
    background-color: var(--element-bg-color);
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    color: var(--font-color);
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 0.75vh;
    overflow: hidden;
}

.phone-app-div:hover {
    background-color: var(--element-bg-colorh);
    transition: 0.5s;
}

.darkphone-app-div {
    position: relative;
    width: 26vh;
    height: 6vh;
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 0.75vh;
    background-color: #202020;
    color: white;
}

.darkphone-app-div:hover {
    background-color: #1a1919;
    transition: 0.5s;
}

.darkmode-prms {
    color: white!important;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.darkmode-prms:hover {
    background-color: rgba(228, 228, 228, 0.014);
}

#phone-contact-name {
    float: left;
    height: 6vh;
    max-height: 6vh;
    white-space: nowrap;
    overflow: hidden;
    line-height: 4vh;
    font-size: 2.25vh;
    width: 22vh;
    padding: 1vh;
    padding-left: 1vh;
}

#phone-contact-actions {
    float: left;
    height: 5vh;
    line-height: 10vh;
    font-size: 2.25vh;
    width: 3vh;
    text-align: center;
    padding: 1vh;
}

.goldbackground {
    background-color: rgba(255, 215, 0, 0.6);
}

.goldbackground:hover {
    background-color: rgba(255, 215, 0, 0.6);
    transition: 0.5s;
}

.goldcolor {
    color: rgba(255, 215, 0, 1);
}

.favouriticon {
    background-color: rgba(255, 217, 0, 0.6);
}

.favouriticon:hover {
    background-color: rgba(212, 181, 0, 0.6);
}

#phone-contact-actions>i {
    float: left;
    line-height: 4vh;
}


/* Other */
.gap1 {
    height: 1vh;
    width: 100%;
}
.gap2 {
    height: 2vh;
    width: 100%;
}
.gap3 {
    height: 3vh;
    width: 100%;
}
.gap4 {
    height: 4vh;
    width: 100%;
}
.gap5 {
    height: 5vh;
    width: 100%;
}

.mb1 {
    margin-bottom: 1vh;
}
.mb2 {
    margin-bottom: 2vh;
}
.mb3 {
    margin-bottom: 3vh;
}
.mb4 {
    margin-bottom: 4vh;
}
.mb5 {
    margin-bottom: 5vh;
}

.ns {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}


.selectabletext {
    user-select: text!important; /* supported by Chrome and Opera */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
}

/* colors */

.grey-color {
    color: grey
}

.delete-color {
    color: rgb(202, 21, 21)!important;
}

.delete-color:hover {
    color: rgb(172, 20, 20)!important;
}

.delete {
    background-color: rgb(202, 21, 21)!important;
    color: white;
}

.delete:hover {
    background-color: rgb(172, 20, 20)!important;
}

.add-color {
    color: rgb(202, 21, 21)!important;
}

.add-color:hover {
    color: rgb(172, 20, 20)!important;
}

.add {
    background-color: rgb(65, 184, 101)!important;
    color: white;
}

.add:hover {
    background-color: rgb(55, 153, 84)!important;
}

.white-spacenowrap {
    white-space: nowrap;
    overflow: hidden;
}
