#doodlejump {
    left: -100%;
    font-family: "DoodleJump";
    background: white!important;
    color: black!important;
}

.doodlejump-grid {
    width: 100%;
    height: 100%;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Graph-paper.svg/1024px-Graph-paper.svg.png');
    background-size: contain;
    position: relative;
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: 9;
    color: white;

    font-size: 15vh;
    text-align: center;
}

.doodlejump-score {
    position: absolute;
    top: 5vh;
    width: 10%;
    left: 2vh;
    z-index: 10;
    font-size: 4vh;
    /* text-align: center; */
}

.doodler {
    width: 5vh;
    height: 5vh;
    background: url('https://raw.githubusercontent.com/JasonMize/coding-league-assets/master/doodle-jump-doodler.png');
    background-size: contain;
    position: absolute;
    z-index: 2;
}

.platform {
    width: 5vh;
    height: 1.45vh;
    background: url('https://raw.githubusercontent.com/JasonMize/coding-league-assets/master/doodle-jump-platform.png');
    background-size: contain;
    position: absolute;
    z-index: 3;
}

.moveplatform {
    width: 5vh;
    height: 1.45vh;
    background: url('https://cdn.discordapp.com/attachments/968045722551337020/989138965925855232/moveplatform.png');
    background-size: contain;
    position: absolute;
    z-index: 3;
}

.brokerplatform {
    width: 5vh;
    height: 1.45vh;
    background: url('https://cdn.discordapp.com/attachments/968045722551337020/988906468457713684/broke.png');
    background-size: contain;
    position: absolute;
    z-index: 3;
}

.brokerplatformanimation {
    background: url('https://cdn.discordapp.com/attachments/968045722551337020/989906700884647946/broke2.png')!important;
    background-size: cover!important;
    height: 2.9vh!important;
    width: 5vh!important;
    margin-bottom: 0%;
}


@-webkit-keyframes broke {
    0% {
        width: 1vh!important;
    }
    100% {
        width: 10vh!important;
    }
}

.doodlejump-endscreen {
    position: absolute;
    top: 5vh;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    z-index: 9;
    color: rgb(0, 0, 0);
    display: none;
}

.doodlejump-endscreen > h3 {
    font-size: 3vh;
    margin: 1vh!important;
    padding: 0vh!important;
}

.doodlejump-endscreen > h2 {
    font-size: 5vh;
    margin: 1vh!important;
    padding: 0vh!important;
}

.doodlejump-gameover {
    transform: rotate(-6deg);
    font-size: 5vh;
    color: brown;
}

.newhighscore {
    color: rgb(75, 126, 41);
    animation: pulse2 2s infinite;
}


@-webkit-keyframes pulse2 {
    0% {
        filter: brightness(1.1);
    }
    50% {
        filter: brightness(1.7);
    }
    100% {
        filter: brightness(1.1);
    }
}

.doodlejump-startbutton {
    position: absolute;
    bottom: 5vh;
    left: 8.5vh;
    width: 12vh;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    /* background-color: aquamarine; */
    border-radius: 3vh;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    background-color: rgba(221, 171, 111, 0.1);
    border: 0.5vh rgb(196, 152, 98) solid;
    z-index: 12;
}

.doodlejump-homebutton {
    position: absolute;
    bottom: 13vh;
    left: 8.5vh;
    width: 12vh;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    /* background-color: aquamarine; */
    border-radius: 3vh;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    background-color: rgba(221, 171, 111, 0.1);
    border: 0.5vh rgb(196, 152, 98) solid;
    z-index: 12;
    display: none;
}

.doodlejump-startbutton:hover {
    filter: brightness(1.3);
    transition: 0.5s;
}

.doodlejump-backbutton {
    position: absolute;
    bottom: 5vh;
    left: -6vh;

}

.doodlejump-iconbutton {
    width: 6vh;
    height: 6vh;
    line-height: 6vh;

    border-radius: 3vh;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    background-color: rgba(221, 171, 111, 0.1);
    border: 0.5vh rgb(196, 152, 98) solid;
    z-index: 12;

    display: grid;
    justify-items: center;
    align-items: center;
}

#doodlejump-ingamescore {
    display: none;
}

.doodlejump-rankscreen {
    position: absolute;
    top: 5vh;
    width: 100%;
    height: 70%;
    z-index: 10;
    display: none;
}



.doodlejump-startscreen {
    position: absolute;
    top: 5vh;
    width: 100%;
    height: 70%;
    z-index: 10;

}

.doodlejump-startscreen > .doodler {
    position: absolute;
    bottom: 5.3vh;
    left: 4.5vh;
    animation: jump 1.5s infinite;
}

@-webkit-keyframes jump {
    0% {
        bottom: 5.3vh;
    }
    60% {
        bottom: 20.8vh;
    }
    0% {
        bottom: 5.3vh;
    }
}

.startscreenplatform {
    position: absolute;
    bottom: 4vh;
    left: 5vh;
}

#doodlejump > audio {
    display: none;
}

.doodlerheadline {
    position: absolute;
    width: 100%;
    top: 2.7vh;
    height: 7vh;
    line-height: 7vh;
    font-size: 7vh;
    text-align: center;
    transform: rotate(-3deg);
}

.doodlejump-settings {
    position: absolute;
    bottom: 10vh;
    right: 2vh;
}

.doodlejump-ranksbutton {
    position: absolute;
    bottom: 19vh;
    right: 2vh;
    font-size: 2.5vh;
}

.doodlerrankings {
    position: absolute;
    top: 10vh;
    left: 10%;
    width: 80%;
    font-size: 2.5vh;
    background-color: rgba(221, 171, 111, 0.1);
    border: 0.25vh rgb(196, 152, 98) solid;
    text-align: center!important;
}

.doodlejump-settingsscreen {
    position: absolute;
    top: 5vh;
    width: 100%;
    height: 70%;
    z-index: 10;
    display: none;
}

.doodlejump-settingsscreen > .elements {
    position: absolute;
    top: 10vh;
    left: 10%;
    width: 80%;
    height: 70%;

}

.doodlejump-settingsscreen > .elements > .element {
    position: relative;
    width: 100%;
    font-size: 3vh;
    /* background-color: azure; */

    display: grid;
    grid-template-columns: 15% 60% 15%;
    grid-column-gap: 5%;
    align-items: center;
    transform: rotate(-1deg);
}

.doodlejump-settingsscreen > .elements > .element > i {
    justify-self: center;
}

.doodlecheckbox {
    width: 3vh;
    height: 3vh;
    border: 0.3vh black solid;
    transform: rotate(5deg);
    color: rgba(0, 0, 0, 0);

    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2vh;
    transition: 0.5s;
}

.doodlechecked {
    color: black!important;
    transition: 0.5s;
}

.doodleinput {
    height: 4vh;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    border: 0.2vh black solid;
    transform: rotate(-1deg);
    font-size: 3vh;
}

.doodlebutton {
    font-family: "DoodleJump"!important;
    margin-top: 1vh;
    background-color: rgba(221, 171, 111, 0.1);
    border: 0.25vh rgb(196, 152, 98) solid;
    transform: rotate(2deg);
}
