/* #truck {
    left: 0%!important;
} */
#truckicon {
    display: none;
}

#truck-home {
    margin-right: 0%;
}

.truck-home-stats {
    display: grid;

    background-color: var(--element-bg-color);
    width: 100%;
    height: 17vh;

    margin-top: 0.5vh;
    margin-bottom: 1vh;
    /* padding: 1vh; */

    font-family: 'Roboto';
    font-size: 1.75vh;
    font-weight: 400;

    border-radius: 1vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    /* white-space: nowrap; */

    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.truck-home-stats > div {
    font-family: "RobotoMedium";
    font-size: 2.5vh;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.truck-home-stats-split {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    
    font-size: 2vh!important;
    font-family: "Roboto"!important;
    font-weight: 400!important;

}

.truck-activ-stats {
    grid-row: 2/4;
}

.truck-activ-stats > p {
    font-family: "RobotoMedium";
    font-size: 2.5vh;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.text-align-right {
    display: grid;
    width: 100%;
    height: 100%;
    padding-right: 1vh;
    text-align: right;
}

.text-align-left {
    display: grid;
    width: 100%;
    height: 100%;
    padding-left: 1vh;
    text-align: left;
    font-family: "RobotoMedium";
}

.truck-home-stats > .progressbar {
    background-color: var(--bg-color);
    width: 90%;
    height: 70%;
    padding: 0vh;
    border-radius: 1vh;
    /* box-shadow: var(--box-shadow) 0px 2px 8px 0px; */
    overflow: hidden;
    margin-bottom: 1vh;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: left;
}

.truck-home-stats > .progressbar > .progressbar-inner {
    background-color: var(--accent-color);
    width: 50%;
    height: 100%;
}

.truck-element {
    display: grid;

    background-color: var(--element-bg-color);
    width: 100%;
    height: 15vh;

    margin-top: 0.5vh;
    margin-bottom: 1vh;
    /* padding: 1vh; */

    font-family: 'Roboto';
    font-size: 1.75vh;
    font-weight: 400;

    border-radius: 1vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    /* white-space: nowrap; */
    padding-top: 1vh;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 50% 50%;

    transition: 0.5s;
    white-space: nowrap;
    overflow: hidden;
}

.truck-element:hover {
    background-color: var(--element-bg-colorh);
    transition: 0.5s;
}

.truck-element > .headline {
    grid-column: 1 / 3;
    grid-row: 1 ;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    font-family: "RobotoMedium";
    font-size: 2.5vh;
}

.truck-element > .image {
    grid-column: 1 ;
    grid-row: 2 ;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5vh;
    white-space: nowrap;
    overflow: hidden;
}

.truck-element > .image > img {
   background-size: cover;
   width: 100%;
   height: 100%;
}

.truck-element > .facts {
    grid-column: 2 ;
    grid-row: 2 ;
    display: grid;
    padding-left: 1vh;
    justify-content: left;
    align-content: center;
    width: 100%;
    height: 100%;

    font-size: 1.6vh;
    white-space: nowrap;
    overflow: hidden;
}

.truck-element > .facts > .bold {
    font-family: 'RobotoMedium';
}

.truck-history-element {
    display: grid;

    background-color: var(--element-bg-color);
    width: 100%;
    height: 22vh;

    margin-top: 0.5vh;
    margin-bottom: 1vh;
    /* padding: 1vh; */

    font-family: 'Roboto';
    font-size: 1.75vh;
    font-weight: 400;

    border-radius: 1vh;
    box-shadow: var(--box-shadow) 0px 2px 8px 0px;
    /* white-space: nowrap; */
    padding-top: 1vh;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 50% 50%;

    transition: 0.5s;
    white-space: nowrap;
    overflow: hidden;
}